/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$success: #008000;

.success {
  color: $success;
}


* {
  box-sizing: border-box;
}

.element {
  display: flex;
}

.table {
  width: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.buttons {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.btn {
  width: 170px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 4px #888888;
}

.btn:hover {
  background-color: green;
  box-shadow: none;
  color: white;
}

.cart-total,
.dammit-marrisa {
  text-align: right;
}

.retired {
  color: red;
  font-size: 20px;
}

//------------------------
//login form
.form-2 {
    /* Size and position */
    width: 440px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in,
.form-2 h1 .create-account {
    display: inline-block;
    text-transform: uppercase;
}

.form-2 h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.form-2 h1 .create-account :hover {
   color: #ffb347;
    padding-left: 2px;
}

.form-2 .float {
    width: 100%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 input[type=text],
.form-2 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.form-2 input[type=submit] {
    /* Size and position */
    width: 49%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.form-2 input[type=submit] {
    margin-left: 1%;
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}


// end of login form
//-----------------------
// orders by status chart
dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}
.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
  to right,
  #ddd,
  #ddd 1px,
  #fff 1px,
  #fff 5%
);
  
  &:after {
    content: "";
    display: block;
    background-color: #3d9970;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: #aaa; 
    }
  }
}

@for $i from 0 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 5%);
      width: $value;
    }
  }
}

.status {

}
// end of orders by status chart
//------------------------------
// All orders table
table {
  width: 250%;
  margin: 30px auto;
  table-layout: auto;
}

 tr, td  {
    text-align: center;
    border-top: 0px hidden #ddd;
}

.w {
  width: 400px;
}

table tr td {
    width: 150px;
}

table tr :nth-child(1) {
padding-left: 9px;
}


// end of all Orders table
//------------------------
// Admin image
.admin_image {
  height: 65%;
    width: 65%;
    padding-top: 5px;
    padding-bottom: 5px;
}
// end of admin image
//------------------
// Drop-down list

.drop-down {
  padding-left: 50px;
}
//------------------
